@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #BEAEE2;
    color: #F9F9F9;
}

main {
    gap: 3rem;
    width: 80vh;
    min-height: 100vh;
    margin-inline: auto;
    padding: 6rem 2rem 2rem;
}

.btn {
    background: #97ebdd;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
}

.btn:hover,
.btn:focus-visible {
    background: #c1f4ea;
}